<div class="container">
    <div class="wrapper">
        <div #element class="section-header animated">
            <img routerLink="/work" src="../../assets/images/by-logoX.png" alt="by-logo">
            <span class="exit">go. back</span>
        </div>
        <div #element class="header animated">
            <h3>Pokedex</h3>
            <p>Ein Pokedex Projekt, welches mithilfe einer API alle Pokemon in einem einzigartigen Design darstellt. </p>
        </div>
        <div #element class="projectbox animated">
            <div #image1 class="image-1"><img src="../../assets/images/pokedex-card.png" alt="show"></div>
            <div #image2 class="image-2"><img src="../../assets/images/pokedex-img.png" alt="show"></div>
            <div #image3 class="image-3"><img src="../../assets/images/pokedex-view.png" alt="show"></div>
            <div class="next" (click)="nextImg()">
                <img src="../../assets/images/right-arrow.png">
            </div>
            <div class="prev" (click)="prevImg()">
                <img src="../../assets/images/left-arrow.png">
            </div>
        </div>
        <div class="buttons">
            <button (click)="showImg1()"></button>
            <button (click)="showImg2()"></button>
            <button (click)="showImg3()"></button>
        </div>
        <div class="text">
            <div #element class="section opacity animated">
                <h2>About this project</h2>
                <hr>
                <p>Ich habe mit diesem Projekt während meiner Weiterbildung zum Frontend Webentwickler angefangen. Meine
                    Aufgabe sowie Ziel war es eine Visuelle Darstellung der Pokemons mithilfe einer API herzustellen. Diese Applikation stellt durch einen asynchronen Request eine Verbindung mit der Pokemon
                API und anschließend werden die im Objekt erhaltenen Informationen in mein erstelltes Interface eingebettet. Jegliche Informationen sowie Bilder sind von der API-Schnittstelle gefetcht.  </p>
            </div>
            <div #element class="section opacity animated">
                <h2>Technical Sheet</h2>
                <h3>Code technologies I got involved with while working on this project.</h3>
                <hr>
                <ul>
                    <li>HTML5 – semantic, video</li>
                    <li>CSS3</li>
                    <li>Javascript ES6</li>
                    <li>REST API</li>

                </ul>
            </div>
            <div #element class="section opacity animated">
                <h2>Resources</h2>
                <hr>
                <ul>
                    <li>The project is online at http://......</li>
                    <li>Access the project's source on <a href="https://github.com/Kaan36/Pokedex.git">GITHUB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>