.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: #111217;
    color: white;
    .section-header {
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        img {
            width: 60px;
            cursor: pointer;
            &:hover ~ .exit {
                z-index: 10;
                opacity: 1;
                transform: translateX(5%);
            }
        }
        .exit {
            width: 300px;
            font-size: 36px;
            opacity: 0;
            transition: all 225ms ease-in-out;
        }
    }
    .wrapper {
        padding: 32px;
        width: 70%;
        transition: all 225ms ease-in-out;
        .header {
            text-align: start;
            margin-bottom: 40px;
            width: 100%;
            font-size: 48px;
            h3 {
                color: white;
                text-shadow: -1px -1px 2px white;
                margin-bottom: 32px;
            }
            p {
                width: 80%;
                font-size: 16px;
                color: #898c91;
            }
        }
        .projectbox {
            position: relative;
            height: 500px;
            width: 100%;
            box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.116);
            overflow: hidden;
            transition: all 225ms ease-in-out;
            .next{
                position: absolute;
                right: 0;
                width: 25%;
                padding: 32px;
                height: 100%;
                background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1));
                display: flex;
                justify-content: flex-end;
                align-items: center;
                opacity: 0;
                transition: all 225ms ease-in-out;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
                img{
                    height: 50px;
                    width: 50px;
                    opacity: 0.5;
                }
            }
            .prev{
                position: absolute;
                left: 0;
                width: 25%;
                height: 100%;
                padding: 32px;
                background: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.1));
                display: flex;
                justify-content: flex-start;
                align-items: center;
                opacity: 0;
                transition: all 225ms ease-in-out;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
                img{
                    height: 50px;
                    width: 50px;
                    opacity: 0.5;
                }
            }
            .image-1 {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            .image-2 {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            .image-3 {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            img {
                object-fit: fill;
                width: 100%;
                height: 100%;
            }
        }
        .buttons {
            display: flex;
            justify-content: center;
            background: transparent;
            margin-top: 12px;
            bottom: 20px;
            width: 100%;
            z-index: 1;
        }

        button {
            cursor: pointer;
            background-color: rgba(245, 245, 245, 0.5);
            margin: 6px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: none;
            &:hover {
                transform: scale(1.2);
            }
        }
        .text {
            text-align: left;
            width: 100%;
            margin-top: 24px;
            .section {
                margin-top: 64px;
                h2 {
                    margin-bottom: 12px;
                    font-size: 32px;
                }
                h3 {
                    margin-bottom: 12px;
                    font-weight: 400;
                    color: #898c91;
                }
                hr {
                    width: 50%;
                    border: 1px solid #898c91;
                }
                ul {
                    margin-top: 24px;
                    list-style: circle;
                    padding-left: 24px;
                    color: #898c91;
                    font-size: 18px;
                    line-height: 24px;
                    a {
                        text-decoration: none;
                        color: #dddddd;
                        font-size: 18px;
                        &:hover{
                            color: #ffffff;
                        }
                    }
                }
                p {
                    color: #898c91;
                    margin-top: 16px;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
}

.animation {
    animation: fly 500ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fly {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }

}

@media(max-width: 1700px){
    .container{
        padding: 12px;
        .wrapper{
            width: 60%;
            .projectbox{
                height: 500px;
                width: 100%;
            }
        }
    }
}

@media(max-width: 1500px){
    .container{
        padding: 12px;
        .wrapper{
            width: 70%;
            .projectbox{
                height: 500px;
                width: 100%;
            }
        }
    }
}

@media(max-width: 1300px){
    .container{
        padding: 12px;
        .wrapper{
            width: 80%;
            .projectbox{
                height: 500px;
                width: 100%;
            }
        }
    }
}

@media(max-width: 1100px){
    .container{
        padding: 12px;
        .wrapper{
            width: 80%;
            .projectbox{
                height: 450px;
                width: 100%;
            }
        }
    }
}



@media (max-width: 1000px) {
    .container{
        padding: 12px;
        .wrapper{
            width: 100%;
            .projectbox{
                height: 400px;
                width: 100%;
            }
        }
    }
}

@media(max-width: 400px){
    .container{
        padding: 0;
        .wrapper{
            width: 100%;
            .projectbox{
                height: 250px;
                width: 100%;
            }
        }
    }
}