<div class="container">

    <div class="wrapper">
        <div class="header">
            <h3>my projects</h3>
            <p>From Web- and Frontend Development to Javascript Animations with Angular, Typescript, Javascript and Node.JS. Check out my latest web software development portfolio projects. </p>
        </div>
        <ul class="grid-list">
            <li class="projectbox" aTilt *ngFor="let project of projects">
                <img src="{{project.window}}" alt="project">
                <div class="box">
                    <button routerLink="/{{project.header}}">VIEW</button>
                </div>
                <div class="bar">{{project.header}}</div>
            </li>
        </ul>
    </div>


</div>