.container {
    padding: 32px;
    height: 100%;
    width: 100vw;
    background-color: #15171d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper {
        width: 70%;
    }
    .header {
        text-align: start;
        margin-bottom: 120px;
        width: 100%;
        font-size: 76px;
        h3 {
            margin-top: 100px;
            color: white;
            text-shadow: -1px -1px 2px white;
            margin-bottom: 32px;
        }
        p {
            width: 80%;
            font-size: 18px;
            color: #898c91;
        }
    }
    .grid-list {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        list-style: none;
    }
    .projectbox {
        position: relative;
        height: 300px;
        width: 500px;
        margin: 16px;
        box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.116);
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: 5;
            &:hover ~ .bar {
                width: 100%;
                opacity: 1;
                font-size: 24px;
            }
            &:hover ~ .box {
                height: 100%;
            }
        }
        .bar {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0px;
            font-weight: 700;
            width: 0;
            opacity: 1;
            height: 50px;
            background-color: rgb(18, 128, 172);
            z-index: 100;
            overflow: hidden;
            transition: all 225ms ease-in-out;
            &:hover {
                width: 100%;
                opacity: 1;
                font-size: 24px;
            }
        }
        .box {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            transition: all 500ms ease-in-out;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                cursor: pointer;
                font-size: 32px;
                font-weight: 700;
                background-color: transparent;
                border: 2px solid rgb(18, 128, 172);
                padding: 12px;
                color: white;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.795);
                    color: black;
                }
            }
            &:hover {
                height: 100%;
            }
            &:hover ~ .bar {
                width: 100%;
                opacity: 1;
                font-size: 24px;
            }
        }
    }
}
