<div class="container">

    <div class="section-text">
        <div class="section-header">
            <img routerLink="/main" src="../../assets/images/by-logoX.png" alt="by-logo">
            <span class="exit">go. back</span>
        </div>
        <h2>Ich helfe Ihnen gerne bei der Umsetzung Ihrer Idee. Bitte kontaktieren Sie mich!</h2>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nihil suscipit ullam perspiciatis neque
            excepturi voluptatem. Inventore molestias aperiam ducimus, neque, iste error deleniti officiis culpa
            excepturi nobis dolores veritatis?
        </div>
    </div>
    <div class="section-form">
        <form class="form">
            <div class="form-header">
                <h3>Informationen zu deiner Person</h3>
            </div>

            <div class="form-name">
                <input type="text" placeholder="Vorname*">
                <input type="text" placeholder="Nachname*">
            </div>
            <div class="form-mail">
                <input type="text" placeholder="E-Mail*">
                <input type="text" placeholder="Unternehmen*">
            </div>
            <div class="form-header">
                <h3>Informationen zum Projekt</h3>
            </div>
            <div class="form-textarea">
                <input type="text" placeholder="Projekt-Titel*">
                <textarea name="" id="" cols="30" rows="10" placeholder="Projektbeschreibung*"></textarea>
            </div>
        </form>
    </div>
</div>

<!----------------------------page-transition !!! --------------------------------------->
<div #main class="main">
    <div #panelLeft class="panel-left"></div>
    <div #panelRight class="panel-right"></div>
    <div #loadIcon id="button" class="loadIcon">
        <span class="load loadCircle">
            <div class="section-header-load">
                <img src="../../assets/images/by-logoX.png" alt="by-logo">
            </div>
            <span class="left"><span class="anim"></span></span>
            <span class="right"><span class="anim"></span></span>
        </span>
    </div>
</div>