
    <canvas #canvas1 class="canvas1"></canvas>
    <div class="section-header">
        <img src="../../assets/images/by-logoX.png" alt="by-logo">
    </div>
    <h1 #title1 class="title1">
        <div class="section-1">
            <a routerLink="/about" class="about">About<br></a>
            <span class="hello">Hello<span class="point">.</span><br> </span>
        </div>

        <div class="section-2">
            <a routerLink="/work" class="work">Work<br></a>
            <span class="iam">I am<br> </span>
        </div>
        <div class="section-3">
            <a routerLink="/contact" class="contact">Contact</a>
            <span class="kaan">Kaan</span>
        </div>
    </h1>

<!----------------------------page-transition !!! --------------------------------------->
<div #main class="main">
    <div #panelLeft class="panel-left"></div>
    <div #panelRight class="panel-right"></div>
    <div  #loadIcon id="button" class="loadIcon">
        <span class="load loadCircle">
            <div class="section-header-load">
                <img src="../../assets/images/by-logoX.png" alt="by-logo">
            </div>
            <span class="left"><span class="anim"></span></span>
            <span class="right"><span class="anim"></span></span>
        </span>
    </div>
</div>