<div class="container">
    <div class="wrapper">
        <div #element class="section-header animated">
            <img routerLink="/work" src="./assets/images/by-logoX.png" alt="by-logo">
            <span class="exit">go. back</span>
        </div>
        <div #element class="header animated">
            <h3>Bitcoin</h3>
            <p>Eine Bitcoin Wep-Applikation die in Verbindung mit einer API immer die aktuellsten Daten und Trends darstellt.</p>
        </div>
        <div #element class="projectbox animated">
            <div #image1 class="image-1"><img src="./assets/images/placeholder.png" alt="show"></div>
            <div #image2 class="image-2"><img src="./assets/images/placeholder.png" alt="show"></div>
            <div #image3 class="image-3"><img src="./assets/images/placeholder.png" alt="show"></div>
            <div class="next" (click)="nextImg()">
                <img src="./assets/images/right-arrow.png">
            </div>
            <div class="prev" (click)="prevImg()">
                <img src="./assets/images/left-arrow.png">
            </div>
        </div>
        <div class="buttons">
            <button (click)="showImg1()"></button>
            <button (click)="showImg2()"></button>
            <button (click)="showImg3()"></button>
        </div>
        <div class="text">
            <div #element class="section opacity animated">
                <h2>About this project</h2>
                <hr>
                <p>Ich habe mit diesem Projekt während meiner Weiterbildung zum Frontend Webentwickler angefangen. Meine
                    Aufgabe sowie Ziel war es eine Darstellung des aktuellen Bitcoinwertes darzustellen. Da mehr Infos in der API beinhaltet waren habe ich mich dazu entschieden einen Bitcoin-exchange-rate zu bauen. Man kann den aktuellen Bitcoin Wert mit einer
                individuell eingegeben Dollar Menge berechnen. Außerdem kann man den Trendverlauf des Bitcoins über die letzten Jahre Grafisch darstellen. </p>
            </div>
            <div #element class="section opacity animated">
                <h2>Technical Sheet</h2>
                <h3>Code technologies I got involved with while working on this project.</h3>
                <hr>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Javascript ES6</li>
                    <li>REST API</li>
                    <li>CANVAS</li>
                </ul>
            </div>
            <div #element class="section opacity animated">
                <h2>Resources</h2>
                <hr>
                <ul>
                    <li>The project is online at http://......</li>
                    <li>Access the project's source on <a href="https://github.com/Kaan36/Bitcoin-exchange-rate.git">GITHUB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>