<div class="container">

    <div #skill class="container-skills">
        <div class="section-header">
            <img routerLink="/main" src="./assets/images/by-logoX.png" alt="by-logo">
            <span class="exit">go. back</span>
        </div>
        <div class="container-header">
            <h2>
                Web Designer & <br>
                Front-End Developer
            </h2>
        </div>

        <div class="container-body">
            <p>Ich bin leidenschaftlicher Web- & Front-End Developer und liebe alles was mit dem EVA-Prinzip zu tun hat.
                In der Welt der Bits und Bytes, mache ich aus Ideen echte Projekte. Für komplexe Probleme erstelle ich
                einfache und interaktive Lösungen.
                Da ich in meiner vorherigen Karriere aus einer Welt der Technik komme, bringe ich Erfahrung im Bereich
                der Automobilbranche sowie Automatisierungs- und Elektrotechnik mit. Ich liebe die Prozessor-Technik
                sowie Datenbussysteme.
                Diese Erfahrung kombiniere ich mit dem Front-End und baue dadurch einfach zu integrierende Software.
                Aktuell arbeite ich mit Javascript, Typescript, Angular, Node.js und weiteren Front-End Tools.
            </p>
            <p>In meiner Freizeit baue ich gerne Projekte mit Arduino, Raspberry Pi und setze somit interaktive Web &
                IoT Projekte um.
            </p>
        </div>
        <div class="container-footer">
            <a #box1 (mouseover)="mouseoverBox1()" (mouseleave)="mouseleaveBox1()" href="https://github.com/Kaan36"
                class="box" aTilt>
                <img src="./assets/images/github-fill.png" alt="">
                <p>GitHub</p>
            </a>
            <a #box2 (mouseover)="mouseoverBox2()" (mouseleave)="mouseleaveBox2()" href="" class="box" aTilt>
                <img src="./assets/images/github-fill.png" alt="">
                <p>placeholder</p>
            </a>
            <a #box3 (mouseover)="mouseoverBox3()" (mouseleave)="mouseleaveBox3()" href="" class="box" aTilt>
                <img src="./assets/images/linkedin-logo.png" alt="">
                <p>LinkedIn</p>
            </a>
            <a #box4 (mouseover)="mouseoverBox4()" (mouseleave)="mouseleaveBox4()" href="" class="box" aTilt>
                <img src="./assets/images/github-fill.png" alt="">
                <p>placeholder</p>
            </a>
        </div>
    </div>
    <div #project class="scroll-container-projects">
        <div routerLink="/contact" class="card">
            <div class="card-header  color-header">
                <p>Bereit für neue Projekte</p>
            </div>
            <div class="card-body">
                <p class=" card-size">Du hast Interesse? Dann kontaktiere mich einfach!</p>
            </div>
        </div>

        <div class="card-canvas hover">
            <h3>Experience-Chart</h3>
            <canvas id="canvas">{{chart}}</canvas>

        </div>

        <div class="card-img hover">
            <div class="card-body-img">
                <div class="card-header-img">
                    <p>2D-Jump & Run Game</p>
                    <h3>el-pollo-loco</h3>
                </div>
                <a href="https://github.com/Kaan36/El-pollo-loco.git">
                    <img src="./assets/images/startscreen.png">
                </a>
            </div>
        </div>

        <div class="card" *ngFor="let project of projects">
            <div class="card-img">
                <img src="{{project.img}}" alt="img">
                <p>GitHub</p>
            </div>
            <div class="card-header">
                {{project.header}}
            </div>
            <div class="card-body">
                {{project.text}}
            </div>
            <a href="{{project.link}}"></a>
        </div>
        <div class="card">
            <div class="card-header">
                <p>Mein Skillset</p>
            </div>
            <div class="card-body">
                <p>Mit diesen Technologien und Tools habe ich schon gearbeitet und konnte mein Wissen in diversen
                    Projekten unter Beweis stellen. </p>
            </div>
            <div class="container-skillSet">
                <div class="rowSkill" *ngFor="let skill of skills">
                    <div class="colSkill">
                        {{skill.skill}}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <a routerLink="/imprint">Impressum</a>
            <a routerLink="/data-protection">Datenschutz</a>
            <a routerLink="">Cookies</a>
            <a routerLink="/agb">AGB</a>
        </div>
    </div>
</div>